.movie {
  
    margin-top: 40px;
    
    width: 250px;
    border-radius: 50px;
    
  }
  
  h5 {
    padding-top: 30px;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .photo-css {
    border-radius: 10px;
    
  }
  
  .photo-css:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.3s;
    filter: drop-shadow(0 0 25px rgba(245, 48, 13, 0.938));
  }