/* 
.btn-grad {background-image: linear-gradient(to right, #a73737 0%, #7a2828  51%, #a73737  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }
 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 } */



 .button{
    position: relative;
    height: 65px;
    width: 210px;
    margin: 0 40px;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background: #0d0d0d;
    overflow: hidden;
    transition: 0.6s;
  }
  
  .button:last-child{
    color: #ce0c2c;
    border-color: #ce0c2c;
  }
  .button:before, button:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
  }
  .button:before{
    width: 60px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
  }
  .button:after{
    width: 30px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
  }
  .button:hover:before,
  .button:hover:after{
    opacity: 0.6;
    transform: translateX(320px) skewX(-45deg);
  }
  .button:hover{
    color: #f2f2f2;
  }
  
  .button:hover:last-child{
    background: #ce0c2c;
  }